<!DOCTYPE html>
<html>

<head>
    <title>MadLibs Bois</title>
</head>

<body>
    <h1>Here's your MadLib, Boi!</h1>
    <p>Once upon a time, there was a @Model.Noun. This @Model.Noun didn't know what to do with it's life, so @Model.Noun decided to @Model.Adverb @Model.Verb in a @Model.Adjective RV.</p>
</body>

</html>