<!DOCTYPE html>
<html>

<head>
    <title>MadLibs Bois</title>
</head>

<body>
    <h1>Here's your Puppy MadLib, Boi!</h1>
    <p>@Model.Noun loves puppies so much. @Model.Noun likes to @Model.Adverb @Model.Verb in a @Model.Adjective Dog House.</p>
</body>

</html>